In [1]:
import pandas as pd

In [2]:
weekly_data = pd.read_excel("./Data/Covid19.xlsx", sheet_name = 'Veckodata Riket')

In [3]:
weekly_data.describe()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
count,142.000000,142.000000,142.000000,142.000000,142.000000,1.420000e+02,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,2020.957746,26.035211,18378.345070,177.197183,354.169014,1.125288e+06,10843.281690,67.176056,6000.464789,144.936620,14.000000,12321.154930,1187.840841
std,0.797809,14.228835,38569.455753,371.689114,725.677174,9.618084e+05,9265.100705,73.435000,3076.853993,173.659331,16.796551,6103.235009,587.255605
min,2020.000000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,14.000000,3075.000000,30.000000,59.750000,1.014860e+05,982.500000,14.000000,2643.750000,25.250000,2.425000,5880.000000,569.375000
50%,2021.000000,26.000000,5531.000000,53.000000,107.500000,1.085848e+06,10461.500000,27.500000,7559.500000,77.500000,7.450000,14610.500000,1407.650024
75%,2022.000000,37.750000,21125.000000,203.500000,421.250000,2.423603e+06,23350.500000,109.000000,8863.250000,185.500000,17.950000,17177.750000,1654.999969
max,2022.000000,53.000000,265043.000000,2554.000000,5024.000000,2.609725e+06,25144.000000,289.000000,9539.000000,664.000000,64.300003,20581.000000,1982.900024

In [4]:
weekly_data.sample(10)

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
104,2022,5,185716,1789,4343,2344645,22590,90,8731,359,34.599998,16578,1597.199951
139,2022,40,3999,39,169,2603038,25079,19,9509,88,8.500000,20483,1973.400024
136,2022,37,4978,48,93,2580838,24865,13,9453,95,9.200000,20215,1947.599976
138,2022,39,13532,130,175,2599039,25041,15,9490,92,8.900000,20395,1965.000000
35,2020,41,4278,41,76,100081,969,22,2639,22,2.100000,5876,569.000000
61,2021,14,41142,396,766,872828,8409,250,6384,133,12.800000,13819,1331.400024
115,2022,16,2525,24,54,2499696,24083,20,9152,70,6.700000,18799,1811.199951
14,2020,20,3869,37,77,30722,297,124,1867,380,36.799999,3989,386.200012
120,2022,21,1316,13,31,2508744,24171,3,9193,26,2.500000,19011,1831.599976
107,2022,8,17676,170,384,2446819,23574,57,8936,319,30.700001,17587,1694.400024

In [5]:
weekly_data.index

RangeIndex(start=0, stop=142, step=1)

## Merging the columns "år and "veckonummer" to create a new column called "Vecka"

In [6]:
weekly_data['Vecka'] = weekly_data['år'].astype(str) + 'v' + weekly_data['veckonummer'].astype(str)
weekly_data.head(3)

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv,Vecka
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.0,2020v6
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.0,2020v7
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.0,2020v8

In [7]:
import seaborn as sns
from matplotlib import pyplot as plt