# Pandas

In [17]:
import pandas as pd

## Series

In [16]:
fruits = pd.Series(["apple", "pear", "orange", "melon"])
fruits

0     apple
1      pear
2    orange
3     melon
dtype: object

In [3]:
numbers = pd.Series([5, 6, 3])
numbers * 2

0    10
1    12
2     6
dtype: int64

In [21]:
numbers >= 5

0     True
1     True
2    False
dtype: bool

In [25]:
numbers[numbers >= 5]

0    5
1    6
dtype: int64

# DataFrame

In [26]:
data = {
    "Name": ["Anders", "Tomas", "Mario"],
    "Age": [42, 46, 36]
}

df = pd.DataFrame(data)
df

     Name  Age
0  Anders   42
1   Tomas   46
2   Mario   36

In [28]:
data = [
   {"Name": "Anders", "Age": 42},
   {"Name": "Tomas", "Age": 46},
   {"Name": "Mario", "Age": 36} 
]

df = pd.DataFrame(data)
df

     Name  Age
0  Anders   42
1   Tomas   46
2   Mario   36

In [32]:
df["Name"]

0    Anders
1     Tomas
2     Mario
Name: Name, dtype: object

In [40]:

df["Age"] = df["Age"] + 1
df

     Name  Age
0  Anders   47
1   Tomas   51
2   Mario   41

In [41]:
df["Age"] >= 50

0    False
1     True
2    False
Name: Age, dtype: bool

In [42]:
df[df["Age"] >= 50]

    Name  Age
1  Tomas   51

In [44]:
str(df)

'     Name  Age\n0  Anders   47\n1   Tomas   51\n2   Mario   41'

In [45]:
print(df)

     Name  Age
0  Anders   47
1   Tomas   51
2   Mario   41